{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style1.css' %}">
</head>
<body>
    <nav class="navbar background">
    <section class="secRight">
        <div class="paras" >
            <p class="Section">Planting Crops</p>
                <p class="Sectiontag">Harvesting Crops</p>
                <p class="SectionSubTag" > Methods for growing and harvesting crops have developed over thousands of years. The earliest crops were grown in Mesopotamia around 5500 B.C.E.
                    These crops, indigenous to an agriculturally rich area called the Fertile Crescent, were grown near local sources of freshwater so they could be 
                    irrigated relatively easily. Wheat,                                              barley, and figs were among the first crops.
                     
                    Crop rotation and fertilization, which makes soil more productive, allowed farmers to grow more crops on less land. 
                    These innovations also allowed crops to be grown in areas where they might not grow naturally. Improved engineering allowed rivers to be dammed
                    and diverted to provide water for crops. All of these developments increased the abundance of crops, which could be used for trade 
                    and industrial use.
                     
                    Today, agriculture is the largest industry in the world. Millions of people harvest crops for subsistence or business purposes. 
                    Some tools used to harvest crops have not changed in a thousand years—plows, rakes, sickles. Most of all, harvesting crops still relies
                    on human labor.The tools and machinery used to harvest crops have grown much more complex and expensive.
                </p>
                </div>
                <div class="thumnail">
                    <img src="{% static 'images/img6.jpg' %}" alt="crop img"  class="imgfluid">
                </div>
    </section>
    <section class="secleft">
        <div class="paras">
                <p class="Sectiontag">Fiber Crops</p>
                <p class="SectionSubTag"> Fiber crops, such as cotton and hemp, are harvested for textile and paper products. Textiles, or cloth, 
                    are made from the dried and processed fibers of certain plants. Most fibers used to make textiles are taken from the stem 
                    or roots of plants such as flax. 
                     
                    The fibers of the hemp plant are strong and durable,perfect for products such as paper, textiles, ropes, nets, and sailcloth for ships. 
                    Hemp advocates see the plant as a versatile and ecological source of fiber.But some varieties of the hemp plant are used to make marijuana,
                    a psychoactive drug. Marijuana is illegal to grow and use in many parts of the United States. (The drug is legally grown and sold for medical 
                    or recrecational use in some places.) Opponents of hemp argue that increased harvesting of hemp crops will lead to increased production and 
                    use of marijuana.
                </p>
                </div>
                <div class="thumnail">
                    <img src="{% static 'images/img7.jpg' %}" alt="crop img" class="imgfluid">
                </div>
    </section>
    <section class="secRight">
        <div class="paras">
                <p class="Sectiontag">Oil Crops</p>
                <p class="SectionSubTag">Oil crops, such as canola and corn, are harvested for consumption or industrial uses. Technologies developed in the past
                    century have enabled crops to be processed and broken down into their primary components, including oil. Soybeans, for example,
                    represented 61 percent of world oilseed production and 79 percent of all edible oil consumed in the United States in 
                    Oil crops are harvested for use in cooking, such as olive oil and corn oil. Oil crops are also harvested for industrial use, 
                    such as oil paints, soaps, and lubrication for machinery.
                     
                    Bioethanol is an alcohol made from fermented materials that come from sugar and starch crops. These crops include sugar cane, corn, and wheat.
                    Bioethanol can be used as a fuel for vehicles, but it is usually used as a gasoline additive to improve vehicle emissions. Bioethanol is used
                    widely in the United States and Brazil, where an abundance of corn and sugar cane crops facilitate its production
                    Biodiesel is made by combining vegetable oils with alcohol. Nuts, such as coconuts, macadamias, and pecans, are excellent sources of oil used
                    to manufacture biodiesel. Biodiesel can be used in diesel engines, such as those used by buses. Brazil, the United States, and the European 
                    Union (particularly Germany) manufacture and use biodiesel on a large scale.
                    Biofuels provide almost three percent of the world’s transport fuel. Many scientists and economists predict that number will rise as oil
                    production decreases in the next century.
                </p>
                </div>
                <div class="thumnail">
                    <img src="{% static 'images/img8.jpg' %}" alt="crop img" class="imgfluid">
                </div>
    </section>
    <section class="secleft">
        <div class="paras">
                <p class="Sectiontag">Industrial Crops</p>
                <p class="SectionSubTag"> Industrial crops, such as rubber and tobacco, are harvested for their products’ use in factories or machines. Industrial crops include all crops 
                    used in the production of industrial goods, such as fiber and fuel products.

                    Rubber is produced naturally from a wide variety of plants, but predominantly from the Hevea tree indigenous to the Amazon region.
                    Rubber is harvested for its latex. Latex is an extremely tough fluid found in the inner bark of the Hevea tree. Latex is obtained 
                    by tapping—cutting or shaving the bark with a sharp knife—and collecting the latex in cups. When mixed with chemicals, latex creates 
                    solid rubber blobs, called curds. Rubber curds are pressed between rollers to remove excess moisture and to form sheets. 
                    The sheets are packed and shipped for use in tires, machine belts, shoe soles, and other products.
                     
                    Hevea trees transplanted to southern Asia now produce most of the world’s rubber. The countries with the largest rubber crops are 
                    Thailand, Indonesia, and Malaysia. Industrialization around the world has increased the global demand for rubber. High demand for natural 
                    rubber has increased the environmental degradation of forests in southern Asia.
                </p>
                </div>
                <div class="thumnail">
                    <img src="{% static 'images/img9.jpg' %}" alt="crop img" class="imgfluid">
                </div>
    </section>
    <section class="secRight">
        <div class="paras">
                <p class="Sectiontag">Seed Banks</p>
                <p class="SectionSubTag">In order to preserve biodiversity, seed banks have been created around the world to store seed samples. Seed banks may specialize in a 
                    specific crop or in the crops of a region. The International Potato Center, based in Lima, Peru, houses 150 wild potato species and other tubers
                    of Andean origin.
                    Native Seeds, founded in the southwestern United States, helps Native Americans locate seeds for growing traditional crops, such as orach, 
                    or “mountain spinach,” and amaranth, once widely used for food and fiber in Mexico.
                     
                    Today, the Seed Vault stores about one million seed samples. It has the capacity to hold 4.5 million samples.Crops have a wide variety of uses 
                    and are an integral part of our existence and development. While advancements in crop science and technology have increased the production of 
                    some of our most basic foodstuffs, they also have had wide-ranging impacts on the environment.The production of crops does not have to harm the
                    environment. By protecting the land, water, and air, and by sharing knowledge and resources, people may find solutions for the problems of 
                    world hunger and global energy scarcities through the sustainable use of crops.
                </p>
                
                </div>
                <div class="thumnail">
                    <img src="{% static 'images/img10.jpg' %}" alt="crop img" class="imgfluid">
                </div>
    </section>
    <div class="back-button" onclick="goBack()"></div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    </nav>
</body>
</html>